@import "../../../styles/partials/colors.scss";

.logIn-logOut {
  width: 25rem;
  text-align: center;
}

.logBtn {
  float: right;
  padding: 10px 0 !important;
  background-color: $login-signup !important;
  color: black !important;
  border: none;
}
