@import "../../../styles/main.scss";

.background {
  background-image: url("/assets/images/login_background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.user-img {
  background-image: url("/assets/images/icon_casaMe.png");
}

.login {
  background-color: $primary-orange;
}
.login:hover {
  background-color: chocolate !important;
}
