@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "../components/common/HeaderComponent/HeaderComponent.scss";
@import "~bootstrap/scss/bootstrap";
@import "../components/common/Menu/Menu.scss";
@import "../components/common/SignIn-signUp/SignIn-signUp.scss";

* {
  font-family: $main-font;
  margin: 0;
}
.app {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
}

