@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "./partials/mixings";
@import "~bootstrap/scss/bootstrap";


* {
  font-family: $main-font;
}

.app {
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid red;
  height: 100vh;
  padding: 10px;
  overflow-y: scroll;
}
