.navHeader {
  width: 100% !important;
  display: flex !important;
  margin: 10px auto !important;
}

.navHeader a {
  overflow: hidden;
  text-align: center !important;
  text-decoration: none;
  width: 100%;
}

.navHeader a:hover {
  background: #ddd;
  color: black;
}

.menuHamburger {
  margin: 10px;
}

.searchIcon {
  width: 40px;
}

.homeClick:hover {
  color: blue;
}
