.acordion {
  width: 45px;
}

.acordion {
  float: left !important;
}
.cardBody {
  margin-top: 45px;
}

.toggleMenu {
  display: flex;
  width: 20rem;
  margin: auto;
  text-align: center;

  span {
    display: flex !important;
  //  margin: 20px auto;
    margin: 0px auto 0px 10px;
  }
}
.filterIcon, .filterIcon{
  width: 20px;
}