@import '~antd/dist/antd.css';
.ant-drawer-wrapper-body, .ant-drawer-header {
    background:rgba(3, 35, 54, 1)!important;
}
.ant-drawer-content-wrapper {
    margin-top: -66px!important;
    height: 50vh;
   
}
.openDrawer {
    background: none;
    border: none;
}