.MuiToolbar-regular {
  min-height: 56px;
  background: white;
}

.MuiIconButton-label {
  color: white !important;
}
.makeStyles-drawerPaper-7 {
  width: 240px;
  background: rgba(3, 35, 54, 1) !important;
  color: white !important;
}
.MuiSvgIcon-root {
  color: black;
}
