@import "../../../styles/main.scss";
.btnCommonStyles {
  width: auto;
}
.btn-outline-secondary {
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
  &:hover {
    color: white;
  }
}
.btn-clicked {
  border-color: $primary-blue !important;
  background-color: $primary-blue !important;
  color: white !important;
  &:hover,
  &:focus {
    color: white;
  }
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  button {
    width: 5rem;
  }
}
