@import "../../../styles/main.scss";

.inputsContainer {
  color: rgb(172, 172, 172);
}

.radioContainer,
.checkContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 1rem;
  margin-bottom: 12px;
  margin-right: 1.5rem;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    top: 0;
    left: 0;
    z-index: 1;

    &:checked ~ .checkmark {
      background-color: rgb(31, 151, 231);
    }

    &:checked ~ .checkmark:after {
      display: block;
    }

    &:not(:checked):hover ~ .checkmark {
      background-color: #ccc;
    }
  }

  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.radioContainer {
  .checkmark {
    border-radius: 50%;
  }

  .checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
}
.checkContainer {
  .checkmark {
    border-radius: 4px;
  }

  .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
